/* GlassButton.css */
.glass-button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .glass-button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }
  
  .glass-button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
  }
  
  
  .glass-button::after {
    content: '';
    position: absolute;
    left: -150%; /* Начальное положение блика */
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(254, 244, 224, 0.0), transparent);
    transition: left 0.3s ease; /* Ускоряем анимацию */
  }
  
  .glass-button.clicked::after {
    background: linear-gradient(to right, transparent, rgba(254, 244, 224, 0.8), transparent);
    left: 100%; /* Конечное положение блика */
  }

  .glass-button:disabled {
    background: rgba(255, 255, 255, 0.18); /* Темнее на 10% */
    color: rgba(255, 255, 255, 0.5); /* Цвет текста темнее */
    cursor: not-allowed; /* Запрещающий курсор */
    box-shadow: none; /* Убираем тень */
    pointer-events: none; /* Отключаем взаимодействие с пользователем */
}